#regheading{
  text-align: center;
  margin-top: 50px;
  color: grey;
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
}

#navbar{
  background: linear-gradient(to right , #58115f ,#230726 );
  box-shadow: 3px 4px 5px rgb(62, 61, 61);
  position: sticky;
  top: 0;
  z-index: 1;



}

#navbar ul li a {
  color : white;
  font-size: small;
}

#navbar ul li a:hover{
  color : orangered;
}
.bi-amazon{
  font-size: larger;
  font-weight: bolder;
  color: white;
}

#drop{
  background: linear-gradient(to right , #58115f ,#230726 );
  color: white;
  font-size: small;
}


#adminbutton{
  color:black  ; 
  padding-top: 50px;
    text-align: center;
  
}

#myimg{
  width:80px ;
  border-radius: 10px;
  box-shadow: 2px 3px 4px rgb(76, 75, 75);
}

#foodlist{
  font-size: small;
}

#editImage{
  width: 90px;
  height: 70px;

  box-shadow: 2px 3px 4px rgb(76, 75, 75);


}

#editImage:hover{
  width: 100px;
  height: 100px;
  border: 3px solid goldenrod;
}


#Pdesc{
  text-align: justify;
}





#loginpage{
  background-image: url("/public/hello.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
}

.bi-currency-rupee{
  font-size: medium ;
  font-weight: bold;
}


#search{
  margin-top: 20px ;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 2px 3px 4px rgb(90, 88, 88);
}
/* #loginpage{
  background-image: url("../public/hello.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position : center;
  height: 100%;


} */